body {
  font-weight: normal;
  //font-family: $font;
  text-transform: uppercase;
}

.site-wrapper {
max-width: 320px;
margin-right: auto;
margin-left: auto;
background-color: pink;

}

// mixins
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin block-outline($width, $type, $color) {
  outline: $width $type $color;

}
// mixins end


.page-header {
position: relative;
width:100%;
padding-bottom: 56px;
@include clearfix();
@include block-outline(1px, solid, #000000);
}

.page-header__logo {
position: absolute;
bottom: 0;
left: 50%;
margin: 0;
transform: translateX(-50%);
}
.page-header__logo img {
  display: block;
}


@import "basic/normalize";
@import "basic/variables";
@import "basic/fonts";
@import "basic/mixins";

@import "block/body";
@import "block/content-container";
@import "block/copyright";
@import "block/feature-picture";
@import "block/feature";
@import "block/features-header";
@import "block/features-block";
@import "block/feedback-form";
@import "block/feedback-header";
@import "block/page-footer";
@import "block/main-nav";
@import "block/map";
@import "block/media-header";
@import "block/media-item";
@import "block/media-items";
@import "block/page-header";
@import "block/page-promo";
@import "block/search";
@import "block/site-wrapper";
@import "block/video-controls";
@import "block/video";
@import "block/btn";
@import "block/social-btn";
