.feature-picture {
  min-height: 260px;
  margin: 0;
  overflow: hidden;
    @media #{$tablet-widths} {
      width: 66.6%;
      float: left;
      height: 256px;
    }
}
.feature-picture__image {
  display: block;
  height: 100%;
  width: auto;
  margin: 0 auto;
  background-size: cover;
    @media #{$tablet-widths} {
      position: relative;
    top: 50%;
    width: 100%;
    height: auto;
    transform: translateY(-50%);
    }
}
