.map {
  height: 350px;

  background: url("../img/bg-map-mobile@1x.jpg") no-repeat center;
}

.map__canvas {
  height: 350px;
  display: block;
  background: url("../img/bg-map-mobile@1x.jpg") no-repeat center;
}
