.media-header {
  margin: 45px 30px 25px 25px;
  border-bottom: 1px solid #e5e5e5;

}

.media-header__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 1.45;
  font-family: $font-bold;
  text-align: center;
}


.media-header__description {
  margin: 0;
  text-align: center;
  color: $secondary-text-color;
}

@media #{$tablet-widths} {
  .media-header {
    padding: 0;
    width: 428px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 70px;
  }
 }
