.page-footer {
  margin-top: 40px;
  margin-bottom: 35px;
  text-align: center;
  // @include block-outline(1px, solid, #000000);
}


.page-footer__hashtag {
  display: block;
  margin-bottom: 40px;
  font-size: 21px;
  line-height: 1.3;
  font-family: $font-bold;
  text-transform: uppercase;
}


.page-footer__social-links {
  margin-bottom: 40px;

  font-size: 0;

  & .social-btn {
    margin-right: 6px;
  }
}

.page-footer__copyright {
  margin-bottom: 35px;
}

@media #{$tablet-widths} {
  .page-footer {
    @include clearfix();
  }


  .page-footer__hashtag {
    display: block;
    float: left;
    width: 33.3%;
    padding-top: 11px;
    display: block;
  }


  .page-footer__social-links {
    float: left;
    width: 33.3%;
    display: block;
  }


  .page-footer__copyright {
    display: block;
    float: left;
    width: 33.3%;
    margin-bottom: 0;
    padding-top: 11px;
  }
}
