.page-header {

  padding-bottom: 56px;

  @include clearfix();
  @include block-outline(1px, solid, #000000);
}


.page-header__logo {
  position: absolute;
  bottom: -80px;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
}

.page-header__logo-wrapper {

  position: relative;
}


.page-header__logo img {
  display: block;
}


.page-header__toggle {
  float: right;
}
