.site-wrapper {
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  background-color: #eee;
}

@media #{$tablet-widths} {
  .site-wrapper {
    min-width: 768px;
  }
}

@media #{$desktop-widths} {
  .site-wrapper {
    max-width: 1200px;
  }
}
